body{
    margin: 1px;
    border: 3px solid brown;
    background: radial-gradient(orange, coral, indianred);
    background-repeat: no-repeat;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;  
    min-height: 100vh;  
    
}
h1{
    margin: 10px;
}
#container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#enter{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid brown;
    width: 250px;
    margin-right: 10px;
    outline: none;
}
#submit{
    margin: 20px;
    padding: 10px 15px;
    border: 2px solid brown;
    border-radius: 5px;
    background-color: crimson;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: max-content;
}
#submit:hover{
    background-color: firebrick;
}
img{
    margin-top: 20px;
    width: 200px;
    border: 2px solid brown;
    border-radius: 10px;
}
p{
    color: red;
    font-weight: bold;
}